attrs==26.1.0
cattrs==26.1.0
cbor2==6.1.3
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
fonttools==4.63.0
grpcio==1.82.1
kiwisolver==1.5.0
matplotlib==3.11.1
NeXosim-py==0.2.1
numpy==2.5.1
packaging==26.2
pillow==12.3.0
protobuf==5.29.6
pyparsing==3.3.2
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
pyqtgraph==0.14.0
python-dateutil==2.9.0.post0
six==1.17.0
typing_extensions==4.16.0
